# This is a test of the CODEOWNERS feature.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @brinkbrink and @tinpham5614 will be requested for
# review when someone opens a pull request.
#*       @brinkbrink @tinpham5614

# Teams can be specified as code owners as well. Teams should
# be identified in the format @org/team-name. Teams must have
# explicit write access to the repository. 
# the Leadership team in the SeattleColleges organization owns all .txt files.
* @SeattleColleges/Leadership
